.about {
  display: flex;
  align-items: center;
  position: relative;
  max-width: $desktop-aligner;
  margin: 0 auto;
  padding: 0 140px 110px 120px;
  color: $color-text;
}

.about__wrap {
  position: relative;
  padding-left: 180px;

  &::before {
    position: absolute;
    content: "";
    top: 5px;
    left: -30px;
    width: 220px;
    height: 317px;
    background-image: url("../../img/year-desktop@1x.png");
    background-repeat: no-repeat;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &::before {
      background-image: url("../../img/year-desktop@2x.png");
      background-size: 220px auto;
    }
  }
}

.about__heading {
  margin: 0 0 21px 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 36px;
  line-height: 51px;
  color: inherit;
}

.about__text {
  margin-bottom: 38px;
}

.about p {
  margin: 0;
  color: inherit;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (max-width: $desktop-width) {
  .about {
    padding: 0 25px 100px 25px;
  }
}

@media (max-width: $tablet-max-width) {
  .about {
    padding: 0 33px 83px 30px;
  }

  .about__wrap {
    position: relative;
    padding-left: 180px;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: -30px;
      width: 244px;
      height: 362px;
      background-image: url("../../img/year-tablet@1x.png");
      background-repeat: no-repeat;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      &::before {
        background-image: url("../../img/year-tablet@2x.png");
        background-size: 244px auto;
      }
    }
  }

  .about__heading {
    margin-bottom: 27px;
    font-size: 32px;
    line-height: 45px;
  }

  .about__text {
    padding-left: 2px;
    margin-bottom: 40px;
  }

  .about__desktop-only {
    display: none;
  }

  .about p {
    &:last-child {
      position: relative;
      display: inline;

      &::after {
        content: "..";
        display: inline-block;
        vertical-align: text-bottom;
        line-height: normal;
        transform: translateX(-8px);
      }
    }
  }

  .about__button {
    margin-left: 2px;
  }
}

@media (max-width: $mobile-max-width) {
  .about {
    padding: 18px 15px 65px 15px;
  }

  .about__wrap {
    padding-left: 0;

    &::before {
      display: none;
    }
  }

  .about__heading {
    margin-bottom: 21px;
    font-size: 28px;
    line-height: 39px;
  }

  .about__text {
    margin-bottom: 30px;
  }

  .about p {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}
