.background-container {
  position: relative;

  &::before {
    position: absolute;
    z-index: -1;
    bottom: -50px;
    left: calc(-15% - 8px);
    content: "";
    width: 872px;
    height: 873px;
    background-image: url("../img/triangle-big.svg");
    transform: rotate(180deg);
  }

  &::after {
    position: absolute;
    z-index: -1;
    top: 263px;
    left: calc(50% + 35px);
    transform: translateX(-50%);
    content: "";
    width: 636px;
    height: 640px;
    background-image: url("../img/triangle-big.svg");
    background-position: center;
  }

  @media (max-width: $tablet-max-width) {
    &::before {
      display: none;
    }

    &::after {
      width: 350px;
      top: 206px;
      left: auto;
      right: 0;
      background-position: -207px center;
      transform: translateX(0);
    }
  }

  @media (max-width: $mobile-max-width) {
    &::after {
      top: calc(36% + 4px);
      top: 43%;
      background-position: -90px center;
    }
  }
}
