.background-container {
  position: relative;

  &::before {
    position: absolute;
    z-index: -1;
    bottom: -50px;
    left: calc(-15% - 8px);
    content: "";
    width: 872px;
    height: 873px;
    background-image: url("../img/triangle-big.svg");
    transform: rotate(180deg);
  }

  &::after {
    position: absolute;
    z-index: -1;
    top: 146px;
    left: calc(50% + 35px);
    transform: translateX(-50%);
    content: "";
    width: 872px;
    height: 873px;
    background-image: url("../img/triangle-big.svg");
  }

  @media (max-width: $tablet-max-width) {
    &::before {
      display: none;
    }

    &::after {
      top: 90px;
      left: 84%;
    }
  }

  @media (max-width: $mobile-max-width) {
    &::after {
      top: calc(36% + 4px);
      left: calc(100% - 3px);
    }
  }
}
