.background-container {
  position: relative;

  &::before {
    position: absolute;
    z-index: -1;
    bottom: -50px;
    left: calc(-15% - 8px);
    content: "";
    width: 872px;
    height: 873px;
    background-image: url("../img/triangle-big-desktop@1x.png");
    transform: rotate(180deg);
  }

  &::after {
    position: absolute;
    z-index: -1;
    top: 146px;
    left: calc(50% + 35px);
    transform: translateX(-50%);
    content: "";
    width: 872px;
    height: 873px;
    background-image: url("../img/triangle-big-desktop@1x.png");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &::before,
    &::after {
      background-image: url("../img/triangle-big-desktop@2x.png");
      background-size: 872px auto;
    }
  }

  @media (max-width: $tablet-max-width) {
    &::before {
      display: none;
    }

    &::after {
      left: 85%;
    }
  }

  @media (max-width: $mobile-max-width) {
    &::after {
      top: calc(36% - 6px);
      left: calc(100% - 3px);
    }
  }
}
