.button {
  padding: 13px 26px 14px;
  border-radius: 5px;
  font-family: "Roboto Condensed Bold", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-primary;
  background-color: transparent;
  white-space: nowrap;
  cursor: pointer;
  outline: none;

  &--bordered {
    padding: 15px 27px 13px 27px;
    border: 1px solid $color-primary;

    &:hover,
    &:focus {
      color: $color-secondary;
      background-color: $color-primary;
    }

    &:active {
      background-color: rgba($color-primary, 0.6);
    }
  }

  &--bordered-blue {
    display: inline-block;
    vertical-align: middle;
    padding: 14px 50px;
    border: 1px solid $color-secondary;
    color: $color-secondary;
    background-color: $color-primary;

    &:hover,
    &:focus {
      color: $color-primary;
      background-color: $color-secondary;
    }
  }

  &--blue {
    display: inline-block;
    vertical-align: middle;
    padding: 18px 45px;
    border: none;
    font-size: 16px;
    line-height: 19px;
    background-color: $color-secondary;

    &:hover,
    &:focus {
      background-color: rgba($color-secondary, 0.6);
    }
  }

  @keyframes MoveUpDown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: 10px;
    }
  }

  &--text {
    position: relative;
    border: none;
    padding: 6px 26px 14px 24px;
    display: block;
    font-family: "PT Mono", "Courier", monospace;
    text-transform: none;
    letter-spacing: normal;
    opacity: 0.5;

    &:hover,
    &:focus {
      animation: MoveUpDown 1s linear infinite;
    }
  }

  @media (max-width: $tablet-max-width) {
    &--blue {
      padding: 18px 33px;
    }

    &--bordered {
      padding: 15px 26px;
    }
  }

  @media (max-width: $mobile-max-width) {
    padding: 19px 26px 19px;

    &--blue {
      padding: 18px 26px;
    }

    &--bordered {
      padding: 15px 26px;
    }

    &--bordered-blue {
      padding: 15px 50px 12px 50px;
    }
  }
}
