.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 49px 0 auto;
}

.contacts__item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color-primary;

  &:not(:last-child) {
    margin-right: 90px;
  }
}

.contacts span {
  line-height: 18px;
  white-space: nowrap;
}

.contacts__email {
  margin-left: 18px;
}

.contacts__phone {
  margin-left: 15px;
}

@media (max-width: $desktop-width) {
  .contacts__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
}

@media (max-width: $tablet-max-width) {
  .contacts {
    margin: 0 0 0 auto;
  }

  .contacts__item {
    &--email svg {
      width: 25px;
      height: 18px;
    }

    &--phone svg {
      width: 24px;
      height: 24px;
    }

    &:not(:last-child) {
      margin-right: 33px;
    }
  }

  .contacts span {
    display: none;
  }
}

@media (max-width: $mobile-max-width) {
  .contacts__item {
    &:not(:last-child) {
      margin-right: 23px;
    }
  }
}
