.contact-info {
  width: auto;
  display: flex;
  flex-direction: column;
}

.contact-info__heading-wrap {
  width: 100%;
  display: flex;
}

.contact-info__heading {
  margin: 0 0 25px 1px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-tertiary;
  pointer-events: none;
}

.contact-info__wrap {
  font-size: 15px;
  line-height: 25px;
  color: $color-tertiary-light;
}

.contact-info p {
  margin: 0;
}

.contact-info__tel {
  display: block;
  text-decoration: none;
  color: inherit;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

@media (max-width: $tablet-max-width) {
  .contact-info {
    width: 50%;
    padding: 38px 25px 35px 0;
  }
}

@media (max-width: $mobile-max-width) {
  .contact-info {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
  }

  .contact-info__heading-wrap {
    padding: 28px 15px 25px 15px;
    cursor: pointer;
  }

  .contact-info__heading {
    margin: 0;
  }

  .contact-info__wrap {
    display: none;
    width: 100%;
    padding: 7px 40px 26px 15px;

    &--no-js {
      display: block;
    }
  }

  .contact-info__button {
    margin-left: auto;
  }
}
