.copyright {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: $desktop-aligner;
  margin: 0 auto;
  padding: 15px 0;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-tertiary-light;

  &::before {
    position: absolute;
    top: 0;
    left: -2000px;
    content: "";
    display: block;
    width: 5000px;
    height: 1px;
    background-color: $color-border;
  }
}

.copyright__conditions {
  text-decoration: none;
  color: inherit;
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.copyright__rights {
  margin-right: 64px;
}

.copyright__year {
  white-space: nowrap;
}

.copyright__wrap-right {
  display: flex;
  justify-content: space-between;
  width: calc(50% + 108px);
}

@media (max-width: $desktop-aligner-with-padding) {
  .copyright  {
    padding: 14px 27px;
  }
}

@media (max-width: $tablet-max-width) {
  .copyright {
    position: static;
    padding: 22px 25px 24px 27px;
    border-top: 1px solid $color-border;

    &::before {
      display: none;
    }
  }

  .copyright__rights {
    display: none;
  }

  .copyright__year {
    position: absolute;
    top: 35px;
    left: calc(50% + 60px);
    transform: translateX(-50%);
  }

  .copyright__wrap-right {
    width: 100%;
  }
}

@media (max-width: $mobile-max-width) {
  .copyright {
    padding: 29px 25px 24px 27px;
  }

  .copyright__year {
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translateX(-50%);
  }

  .copyright__wrap-right {
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 100%;
  }

  .copyright__conditions {
    margin-bottom: 20px;
  }

  .copyright__developer,
  .copyright__conditions {
    text-align: center;
  }
}
