.footer {
  position: relative;
  flex: 0 0 auto;
  background-color: $color-background;
  overflow: hidden;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: $desktop-aligner;
  margin: 0 auto;
  padding: 64px 0 55px;
}

.footer__aligner {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.footer__inner {
  width: 216px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto;
}

.footer__social {
  margin: 0;
  padding: 0 0 6px 0;
}

@media (max-width: $desktop-aligner-with-padding) {
  .footer__wrapper {
    padding: 65px 25px 55px;
  }
}

@media (max-width: $tablet-max-width) {
  .footer {
    position: relative;
  }

  .footer__aligner {
    width: 100%;
    margin-left: 0;
  }

  .footer__wrapper {
    flex-wrap: wrap;
    padding: 0;
  }

  .footer__inner {
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 19px 25px 24px 25px;
    border-bottom: 1px solid $color-border;
  }

  .footer__navigation {
    margin-right: 0;
  }

  .footer__social {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: $mobile-max-width) {
  .footer__aligner {
    flex-direction: column;
  }

  .footer__inner {
    flex-direction: column;
    padding: 46px 43px 48px 29px;
  }

  .footer__social {
    margin: 0 0 0 14px;
  }
}
