.header {
  display: flex;
  justify-content: space-between;
  padding: 33px 0 0 0;
  background-color: $color-tertiary;
  background-image: url("../../img/background-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 100% 878px;
  background-position: 50% 0px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/background-desktop@2x.png");
    background-size: 100% 878px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: $desktop-aligner;
  margin: 0 auto;
}

.header__container-inner {
  display: flex;
  justify-content: space-between;

  &--left {
    width: 35%;
  }

  &--right {
    width: 65%;
  }
}

@media (max-width: $desktop-width) {
  .header {
    padding: 18px 23px 0 25px;
  }
}

@media (max-width: $tablet-max-width) {
  .header {
    padding: 18px 23px 0 25px;
    background-image: url("../../img/background-tablet@1x.png"),
                      url("../../img/triangles-tablet@1x.png");
    background-size: 100% 686px,
                     770px 563px;
    background-position: 50% 0,
                         100% 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/background-tablet@2x.png"),
                        url("../../img/triangles-tablet@2x.png");
      background-size: 100% 686px,
                      770px auto;
    }
  }

  .header__button {
    display: none;
  }
}

@media (max-width: $mobile-max-width) {
  .header {
    padding: 15px 15px 0 18px;
    background-image: url("../../img/background-mobile@1x.png"),
                      url("../../img/triangles-mobile@1x.png");
    background-size: 100% 647px,
                    320px 529px;
    background-position: 50% 0,
                        100% 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../../img/background-mobile@2x.png"),
                        url("../../img/triangles-mobile@2x.png");;
      background-size: 100% 647px,
                      320px auto;
    }
  }
}
