.input-field  {
  padding: 14px 16px 19px 16px;
  border: 1px solid transparent;
  color: $color-primary;
  background-color: rgba($color-primary, 0.1);

  &::placeholder {
    color: $color-primary;
  }

  &--popup {
    padding: 14px 16px 17px 23px;
  }

  &:focus {
    border: 1px solid $color-primary;
  }
}

@media (max-width: $tablet-max-width) {
  .input-field {
    padding: 15px 16px 19px 18px;
  }
}

@media (max-width: $mobile-max-width) {
  .input-field {
    padding: 14px 16px 19px 16px;
  }
}
