.main-screen {
  color: $color-primary;
  background-color: $color-tertiary;
  background-image: url("../img/start-desktop@1x.png"),
                    url("../img/triangles.svg"),
                    url("../img/ellipse-desktop@1x.png"),
                    url("../img/background-desktop@1x.png");
  background-image: -webkit-image-set(url('../img/start-desktop@1x.webp')1x),
                    url("../img/triangles.svg"),
                    url("../img/ellipse-desktop@1x.png"),
                    url("../img/background-desktop@1x.png");
  background-position: calc(100% - 177px) 173px,
                       calc(100% + 853px) -25px,
                       100% -85px,
                       50% -85px;
  background-repeat: no-repeat;
  background-size: 705px 515px,
                   1920px 881px,
                   1920px 881px,
                   100% 878px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/start-desktop@2x.png"),
                      url("../img/triangles.svg"),
                      url("../img/ellipse-desktop@2x.png"),
                      url("../img/background-desktop@2x.png");
    background-image: -webkit-image-set(url('../img/start-desktop@2x.webp')2x),
                      url("../img/triangles.svg"),
                      url("../img/ellipse-desktop@2x.png"),
                      url("../img/background-desktop@2x.png");
    background-size: 705px auto,
                     1920px 881px,
                     1920px auto,
                     100% 878px;
  }
}

.main-screen__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: $desktop-aligner;
  margin: 0 auto;
  padding: 230px 0 120px 0;
}

.main-screen__text-wrap {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.main-screen__product-name {
  margin-bottom: 27px;
  margin-left: -3px;
  font-family: "Roboto Condensed Bold", "Arial", sans-serif;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: inherit;
}

.main-screen__services {
  position: relative;
  margin: 0 0 43px 0;
  padding-left: 94px;
  font-size: 22px;
  line-height: 34px;
  color: inherit;

  &::before {
    position: absolute;
    left: 0;
    top: 16px;
    content: "";
    width: 66px;
    height: 2px;
    background-color: $color-primary;
  }
}

.main-screen__button {
  align-self: start;
  margin-bottom: 120px;
  margin-left: 93px;
}

.main-screen__button-rotate {
  align-self: flex-start;
  transform: rotate(-90deg) translateY(-60px);
}

.main-screen__btn-text {
  &--mobile {
    display: none;
  }
}

@media (max-width: $desktop-aligner-with-padding) {
  .main-screen__container {
    padding: 230px 50px 84px 50px;
  }

  .main-screen__text-wrap {
    width: 79%;
  }

  .main-screen__services {
    padding-right: 250px;
  }
}

@media (max-width: $tablet-max-width) {
  .main-screen {
    background-image: url("../img/start-tablet@1x.png"),
                      url("../img/triangles-tablet@1x.png"),
                      url("../img/background-tablet@1x.png");
    background-position: calc(100% + 2px) 43px,
                         calc(100% + 2px) -71px,
                         50% -71px;
    background-repeat: no-repeat;
    background-size: 260px 340px,
                     770px 563px,
                     100% 686px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/start-tablet@2x.png"),
                        url("../img/triangles-tablet@2x.png"),
                        url("../img/background-tablet@2x.png");
      background-size: 260px auto,
                       770px auto,
                       100% 686px;
    }
  }

  .main-screen__container {
    padding: 117px 100px 163px 90px;
  }

  .main-screen__product-name {
    margin-bottom: 29px;
    font-size: 60px;
    line-height: 70px;
  }

  .main-screen__services {
    margin-bottom: 55px;
    padding-left: 50px;
    padding-right: 0;
    font-size: 18px;
    line-height: 28px;

    &::before {
      width: 33px;
    }
  }

  .main-screen__button {
    margin-left: 48px;
    margin-bottom: 0;
  }

  .main-screen__button-rotate {
    display: none;
  }
}

@media (max-width: $mobile-max-width) {
  .main-screen {
    background-image: url("../img/start-mobile@1x.png"),
                      url("../img/triangles-mobile@1x.png"),
                      url("../img/background-mobile@1x.png");
    background-position: 100% 38px,
                         100% -53px,
                         50% -56px;
    background-repeat: no-repeat;
    background-size: 294px 220px,
                     320px 529px,
                     100% 647px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/start-mobile@2x.png"),
                      url("../img/triangles-mobile@2x.png"),
                      url("../img/background-mobile@2x.png"),;
    background-size: 294px auto,
                     320px auto,
                     100% 647px;
    }
  }

  .main-screen__container {
    padding: 233px 15px 70px 17px;
  }

  .main-screen__text-wrap {
    width: 100%;
  }

  .main-screen__product-name {
    margin-bottom: 27px;
    font-size: 40px;
    line-height: 47px;
  }

  .main-screen__services {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 25px;

    &::before {
      top: 15px;
    }
  }

  .main-screen__button {
    align-self: stretch;
    margin-left: 0;
  }

  .main-screen__btn-text {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }
}
