.navigation {
  width: calc(54% + 5px);
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.navigation__heading {
  margin: 0 0 25px 3px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-tertiary;
}

.navigation__list {
  width: 91%;
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 25px;
  color: $color-tertiary-light;
  list-style: none;
  columns: 2;
}

.navigation__list-item {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

@media (max-width: $tablet-max-width) {
  .navigation {
    padding: 38px 0 35px 25px;
  }

  .navigation__heading {
    margin: 0 0 0 2px;
  }

  .navigation__list {
    padding-top: 26px;
    columns: 1;
  }

  .navigation__list-item {
    display: block;
    width: auto;
  }
}

@media (max-width: $mobile-max-width) {
  .navigation {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 28px 15px;
    border-bottom: 1px solid $color-border;
  }

  .navigation__heading {
    margin: 1px 0 0 0;
  }

  .navigation__button {
    margin-left: auto;

    &--no-js {
      display: none;
    }
  }

  .navigation__list {
    display: none;
    width: 100%;

    &--no-js {
      display: block;
    }
  }
}
