.services {
  background-color: $color-tertiary;
  color: $color-primary;
}

.services__container {
  max-width: $desktop-aligner;
  margin: 0 auto;
  padding: 88px 120px 127px;
}

.services__heading {
  margin: 0 0 52px 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: inherit;
}

.services__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  &:not(:nth-child(3n+3)) {
    margin-right: 30px;
  }

  &:nth-child(-n+3) {
    margin-bottom: 30px;
  }

  &:last-child {
    margin-right: auto;
  }
}

@media (max-width: $tablet-max-width) {
  .services__container {
    padding: 50px 26px 78px 26px;
  }

  .services__heading {
    width: 85%;
    margin: 0 0 48px 0;
    font-size: 32px;
    line-height: 45px;
  }

  .services__list {
    flex-direction: column;
    align-items: center;
  }

  .services__item {
    &:not(:last-child) {
      margin-right: 0;
      margin-bottom: 46px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .services__container {
    padding: 50px 15px 64px 15px;
  }

  .services__heading {
    width: 100%;
    margin: 0 0 42px 10px;
    padding-right: 10px;
    font-size: 28px;
    line-height: 39px;
  }

  .services__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}
