.submit-question {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 1;

  & input {
    width: calc((100% - 31px) / 2);
    margin-bottom: 40px;

    &:first-child {
      margin-right: auto;
    }
  }

  &--popup {
    & input {
      width: 100%;
      margin-bottom: 31px;

      &:first-child {
        margin-right: 0;
      }
    }
  }
}

.submit-question__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 41px;
}

.submit-question__button {
  width: 50%;
  margin-right: 40px;
}

.submit-question__checkbox {
  width: 50%;
  padding-top: 3px;
}

@media (max-width: $tablet-max-width) {
  .submit-question {
    & input {
      &:first-child {
        margin-right: 0;
      }
    }
  }

  .submit-question__wrap {
    margin-top: 45px;
  }

  .submit-question__button {
    width: calc(50% + 4px);
  }

  .submit-question__checkbox {
    padding-top: 1px;
  }
}

@media (max-width: $mobile-max-width) {
  .submit-question {
    flex-direction: column;

    & input {
      width: 100%;
      margin-bottom: 30px;

      &:first-child {
        margin-right: 0;
      }
    }
  }

  .submit-question__wrap {
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    margin: 29px auto 0 auto;
  }

  .submit-question__button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 27px;
  }

  .submit-question__checkbox {
    width: 100%;
  }
}
