$color-primary: #fff;
$color-secondary: #00B2FF;
$color-tertiary: #1B2D37;
$color-tertiary-light: rgba(27, 45, 55, 0.5);
$color-text: #666666;
$color-text-logo: #788891;
$color-text-logo-dark: #203C42;
$color-background: #FAFAFA;
$color-border:rgba(98,105,98, 0.2);
$color-border-dark: #C4C4C4;
