$mobile-width: 320px;
$mobile-max-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 1023px;
$desktop-width: 1024px;
$desktop-header-max-width: 1411px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
